<nav class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <ul class="nav navbar-nav navbar-right">
    <% if current_user %>
        <li><%= link_to "Log Out", logout_path, class:"btn btn-primary" %></li>
    <% else %>
        <li><%= link_to "Sign in with Twitter", twitter_login_path, class:"btn btn-primary btn-lg" %></li>
      <% end %>
    </ul>
  </div>
</nav>
