<div class="jumbotron text-center">
  <h1 class="display-3">Colorado Repspeak</h1>

  <p class="lead">What do our reps say?</p>
  <hr class="m-y-2">
  <p class="lead">
    <%# if current_user %>
        <%#= link_to "Back to my Dashboard!", root_path, class:"btn btn-primary btn-lg" %>
      <%# else %>
        <%#= link_to "Sign in with Twitter", twitter_login_path, class:"btn btn-primary btn-lg" %>
    <%# end %>
  </p>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</div>
<!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>">
</script> -->
