<h1>Legislators</h1>

<table>
  <tr>
    <th>State</th>
    <th>District Number</th>
    <th>Role</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Full Name</th>
    <th>Twitter Id</th>
  </tr>

  <% @legislators %>


</table>
